<html>
    <head>
        <title>Menú</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <nav data-th-fragment="encabezado" class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img src ="/img/Logo_UTEQ.png" width="120px" height="50px" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" th:class="${inicioClass}" >
                            <a class="nav-link active" aria-current="page" href="menu.html" data-th-href="@{/menu}">Inicio</a>
                        </li>
                        <li class="nav-item" th:class="${ofertaEducativaClass}" >
                            <a class="nav-link" href="ofertaeducativa.html" data-th-href="@{/ofertaeducativa}">Oferta Educativa</a>
                        </li>
                        <li class="nav-item" th:class="${admisionesClass}" >
                            <a class="nav-link" href="admisiones.html" data-th-href="@{/admisiones}">Admisiones</a>
                        </li>
                        <li class="nav-item" th:class="${profesoresClass}" >
                            <a class="nav-link" href="profesores.html" data-th-href="@{/profesores}">Profesores</a>
                        </li>
                        <li class="nav-item" th:class="${DirectorioClass}" >
                            <a class="nav-link" href="Directorio.html" data-th-href="@{/Directorio}">Directorio</a>
                        </li>
                        <li class="nav-item" th:class="${acercaClass}" >
                            <a class="nav-link" href="admisiones.html" data-th-href="@{/acerca}">Acerca de</a>
                        </li>
                        <li class="nav-item" th:class="${salirClass}" >
                            <a class="nav-link" href="login.html" data-th-href="@{/}">Salir</a>
                        </li>
                    </ul>
                    <form class="d-flex" th:action="@{/buscar}" method="get">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="query">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
