<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Agregar Profesor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    </head>
    <body>
        <div data-th-replace="~{layout/layout :: encabezado}">
        </div>
        <div class="container-fluid">
            <h1 class="text-center">Agregar</h1>
            <form action="#" method="post" th:action="@{/guardar-profesor}" th:object="${profesor}">

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Nombre...">
                    <small id="emailHelp" class="form-text text-muted">Ingresa el nombre</small>
                    <span class="text-danger" data-th-if="#{fields.hasErrors('nombre')}" data-th-errors="*{nombre}"></span>
                </div>

                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" th:field="*{apellidos}" placeholder="Apellidos...">
                    <small id="emailHelp" class="form-text text-muted">Ingresa los apellidos</small>
                    <span class="text-danger" data-th-if="#{fields.hasErrors('apellidos')}" data-th-errors="*{apellidos}"></span>
                </div>

                <div class="form-group">
                    <label for="numero_empleado">Numero de empleado</label>
                    <input type="number" class="form-control" id="numero_empleado" th:field="*{numero_empleado}" placeholder="Numero de empleado...">
                    <small id="emailHelp" class="form-text text-muted">Ingresa el numero de empleado</small>
                    <span class="text-danger" data-th-if="#{fields.hasErrors('numero_empleado')}" data-th-errors="*{numero_empleado}"></span>
                </div>


                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="text" class="form-control" id="correo" th:field="*{correo}" placeholder="correo...">
                    <small id="emailHelp" class="form-text text-muted">correo</small>
                    <span class="text-danger" data-th-if="#{fields.hasErrors('correo')}" data-th-errors="*{correo}"></span>
                </div>

                <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de nacimiento</label>
                    <input type="date" class="form-control" id="fecha_nacimiento" th:field="*{fecha_nacimiento}" placeholder="Fecha de nacimiento...">
                    <small id="emailHelp" class="form-text text-muted">Ingresa la fecha de nacimiento</small>
                    <span class="text-danger" data-th-if="#{fields.hasErrors('fecha_nacimiento')}" data-th-errors="*{fecha_nacimiento}"></span>
                </div>


                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
