<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>Agregar Admision</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div data-th-replace="~{layout/layout :: encabezado}">
        </div>
        <div class="container-fluid">
            <h1 class="text-center">Agregar</h1>
            <form action="#" method="post" th:action="@{/guardar-admision}" th:object="${admision}">
                <label for="admision">Nombre de la Admisión</label>
                <input type="text" class="form-control" id="admision" th:field="*{nombreAdmision}" placeholder="Periodo">
               <span class="text-danger" data-th-if="#{fields.hasErrors('nombreAdmision')}" data-th-errors="*{nombreAdmision}"></span>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" th:field="*{activo}">
                    <label class="form-check-label" for="exampleCheck1">Admision</label>
                    <small class="form-text text-muted">Marca la casilla si la admisión está activa</small>
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>

        </div>
    </body>
</html>
